Source: ros-rolling-rviz2
Section: misc
Priority: optional
Maintainer: Alejandro Hernandez Cordero <alejandro@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pytest <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, libgeometry-msgs-dev <!nocheck>, libsensor-msgs-dev <!nocheck>, python3-geometry-msgs <!nocheck>, python3-sensor-msgs <!nocheck>, python3-yaml <!nocheck>, qtbase5-dev, ros-geometry-msgs <!nocheck>, ros-rolling-rclcpp <!nocheck>, ros-rolling-rviz-common, ros-rolling-rviz-ogre-vendor, ros-sensor-msgs <!nocheck>, ros-rolling-ros-workspace
Homepage: https://github.com/ros2/rviz/blob/ros2/README.md
Standards-Version: 3.9.2

Package: ros-rolling-rviz2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-dev, ros-rolling-rviz-common, ros-rolling-rviz-default-plugins, ros-rolling-rviz-ogre-vendor, ros-rolling-ros-workspace
Description: 3D visualization tool for ROS.
